<div class=" py-5 py-lg-6">
    <div class="container form malbec-form">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <h1 class="mb-4">{{ section.settings.title_text }}</h1>
                <p class="lead mb-4">{{ section.settings.title_description }}</p>

                {% form contact %}

            </div>
        </div>
    </div>
</div>

{% styles %}
.malbec-form input,
.malbec-form textarea,
.malbec-form select {
    background: rgba(224, 236, 253, 0.4);
    width: 100%;
    min-height: 50px;
    display: block;
    border: none;
    border-radius: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.malbec-form ::placeholder {
    opacity: 0.2;
    color: #0065F2;
}
.malbec-form input[type="checkbox"],
.malbec-form input[type="radio"] {
    min-height: 20px;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}

.malbec-form .form-group {
    margin-bottom: 15px;
}

.malbec-form .form-group label {
    color: #0065F2;
    margin-bottom: 5px;
}
.malbec-form .button.secondary {
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0;
    width: 100%;
    display: block;
    box-shadow: none;
}

{% endstyles %}

{% schema %}
{
    "name": "Form",
    "description": "Form section",
    "settings": [
        {
          "type": "text",
          "id": "title_text",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "title_description",
          "label": "Description"
        }
    ]
}
{% endschema %}
